
<div class="menu">
  <img src="assets/images/icon.svg" alt="" class="menu__icon">
  <div class="menu__buttons">

    <button class="menu__buttons--start"
            (click)="onClickStartGame()"
            [routerLink]="['start']">Start</button>

    <button class="menu__buttons--history"
            (click)="onClickHistory()"
            [routerLink]="['history']">History</button>

    <button class="menu__buttons--delete"
            mat-button (click)="onClickDeleteUser()">Delete User</button>

    <button class="menu__buttons--exit"
            (click)="onClickExit()"
            [routerLink]="['home']">Exit</button>

  </div>
</div>
