<!--<div class="container">
  <app-button class="btn"
              text="Start"
              color="#800080"
              (click)="onClickStartGame()"
              [routerLink]="['start']"></app-button>

  <app-button class="btn"
              text="History"
              color="#800080"
              (click)="onClickHistory()"
              [routerLink]="['history']"></app-button>

  <app-button class="btn"
              text="Delete User"
              color="#800080"
              mat-button (click)="onClickDeleteUser()"
              style="padding: 10px 5px 10px 5px"></app-button>

  <app-button class="btn"
              text="Exit"
              color="#800080"
              (click)="onClickExit()"
              [routerLink]="['home']"></app-button>
</div>
-->
<div class="menu">
  <img src="assets/images/icon.svg" alt="" class="menu__icon">
  <div class="menu__buttons">

    <button class="menu__buttons--start"
            (click)="onClickStartGame()"
            [routerLink]="['start']">Start</button>

    <button class="menu__buttons--history"
            (click)="onClickHistory()"
            [routerLink]="['history']">History</button>

    <button class="menu__buttons--delete"
            mat-button (click)="onClickDeleteUser()">Delete User</button>

    <button class="menu__buttons--exit"
            (click)="onClickExit()"
            [routerLink]="['home']">Exit</button>

  </div>
</div>
