<div class="block">
  <app-button class="btn"
              text="Start"
              color="#800080"
              (click)="onClickStartGame()"></app-button>
  <app-button class="btn"
              text="History"
              color="#800080"></app-button>
  <app-button class="btn"
              text="Delete User"
              color="#800080"
              style="padding: 10px 5px 10px 5px"></app-button>
  <app-button class="btn"
              text="Exit"
              color="#800080"></app-button>
</div>
