body {
  background-color: #645CBB;
  font-family: "Poppins", sans-serif;
}

.guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35pt 0;
  text-align: center;
}

.guess__instruction {
  font-weight: 500;
  font-size: 23pt;
  color: #FFF;
  margin-bottom: 40pt;
}

.guess__attempt {
  padding: 7pt 8pt;
  border-style: solid;
  border-radius: 6pt;
  border-width: 2pt;
  border-color: #FFF;
  font-size: 18pt;
  color: #FFF;
  margin-top: 0;
  font-weight: 300;
}

.guess__form input[type=number] {
  width: 96%;
  padding: 20pt 0 20pt 10pt;
  border-radius: 6pt;
  border-width: 0;
  font-size: 18pt;
  margin-bottom: 30pt;
  margin-top: 30pt;
  text-align: center !important;
}

.guess__form--submit-btn {
  display: flex;
  margin: 0 auto;
  font-size: 18pt;
  padding: 17pt 43pt;
  border-radius: 10pt;
  color: #FFF;
  background-color: #278447;
  border-width: 0;
}

  .guess__form--submit-btn:hover {
    background-color: #20763e;
  }

.guess__form--quit-btn {
  display: flex;
  margin: 0 auto;
  margin-top: 30pt;
  font-size: 18pt;
  padding: 17pt 43pt;
  border-radius: 10pt;
  color: #FFF;
  background-color: #645CBB;
  border-width: 3pt;
  border-color: #EBC7E6;
}

  .guess__form--quit-btn:hover {
    background-color: #645CBB;
    color: #FFF;
  }

@media screen and (max-width: 480px) {
  /* For mobile phones: */
  .guess {
    padding: 0 40pt;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .guess__form input[type=number] {
    width: 97%;
  }
}

