<mat-toolbar class="guess__toolbar">

  <mat-icon class="guess__toolbar--menu-icon"
            fontIcon="menu"
            style="cursor:pointer"
            matTooltip="Menu"
            (click)="onClickQuit()"></mat-icon>

  <mat-icon class="guess__toolbar--home-icon"
            fontIcon="home"
            style="cursor:pointer"
            matTooltip="Home"
            (click)="onClickHome()"></mat-icon>

  <h4 class="guess__toolbar--menu-heading">Guess The Number</h4>

  <mat-icon class="guess__toolbar--refresh-icon"
            fontIcon="refresh"
            style="cursor:pointer"
            matTooltip="Restart"
            (click)="onClickPlayAgain()"></mat-icon>

  <mat-icon class="guess__toolbar--close-icon"
            fontIcon="close"
            style="cursor:pointer"
            matTooltip="Close"
            (click)="onClickHome()"></mat-icon>

</mat-toolbar>

<div class="guess">

  <h4 class="guess__instruction">Guess a number between 1 and 20</h4>
  <p class="guess__attempt">{{message}}</p>



  <form class="guess__form"
        *ngIf="isPlaying"
        #userForm="ngForm"
        (ngSubmit)="onClickSubmitInput(username, beginResponse.id, guess.value, userForm)">

    <input type="number"
           placeholder="Enter a number"
           name="guess"
           #guess="ngModel"
           min="1"
           max="20"
           ngModel
           required><br />

    <button class="guess__form--submit-btn" type="submit">
      Submit
    </button>
    <button class="guess__form--quit-btn"
            (click)="onClickQuit()">
      Quit
    </button>
  </form>

  <button class="guess__form--replay-btn"
          *ngIf="!isPlaying"
          (click)="onClickPlayAgain()">
    Play Again
  </button>

  <button class="guess__form--quit-btn"
          *ngIf="!isPlaying"
          (click)="onClickQuit()">
    Quit
  </button>

</div>
