body {
  background-color: #645CBB;
  font-family: "Poppins", sans-serif;
}

.guess__toolbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5248bb;

}

.guess__toolbar--menu-icon {
  color: #FFFFFF;
  margin-right: 15pt;

}

.guess__toolbar--menu-icon:hover {
  color: #c333b2;
}

.guess__toolbar--home-icon {
  color: #FFFFFF;
  margin-right: 20pt;
}

  .guess__toolbar--home-icon:hover {
    color: #c333b2;
  }

  .guess__toolbar--refresh-icon {
    color: #FFFFFF;
    margin-left: 10pt;
    margin-right: 20pt;
    margin-left: 1000pt;
  }

  .guess__toolbar--refresh-icon:hover {
    color: #c333b2;
  }

.guess__toolbar--close-icon {
  color: #FFFFFF;

}

  .guess__toolbar--close-icon:hover {
    color: #c333b2;
  }

.guess__toolbar--menu-heading {
  font-weight: 500;
  font-size: 26pt;
  text-align: center;
  margin-top: 8pt;
  color: #FFFFFF;
}

.guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35pt 0;
  text-align: center;
}

.guess__instruction {
  font-weight: 500;
  font-size: 23pt;
  color: #FFF;
  margin-bottom: 40pt;
}

.guess__attempt {
  padding: 7pt 8pt;
  border-style: solid;
  border-radius: 6pt;
  border-width: 2pt;
  border-color: #FFF;
  font-size: 18pt;
  color: #FFF;
  margin-top: 0;
  font-weight: 300;
}

.guess__form input[type=number] {
  width: 96%;
  padding: 20pt 0 20pt 10pt;
  border-radius: 6pt;
  border-width: 0;
  font-size: 18pt;
  margin-bottom: 30pt;
  margin-top: 30pt;
  text-align: center !important;
}

.guess__form--submit-btn {
  display: flex;
  margin: 0 auto;
  font-size: 18pt;
  padding: 17pt 43pt;
  border-radius: 10pt;
  color: #FFF;
  background-color: #278447;
  border-width: 0;
}

  .guess__form--submit-btn:hover {
    background-color: #20763e;
  }

.guess__form--quit-btn {
  display: flex;
  margin: 0 auto;
  margin-top: 30pt;
  font-size: 18pt;
  padding: 17pt 43pt;
  border-radius: 10pt;
  color: #FFF;
  background-color: #645CBB;
  border-width: 3pt;
  border-color: #EBC7E6;
}

  .guess__form--quit-btn:hover {
    background-color: #645CBB;
    color: #FFF;
  }

.guess__form--replay-btn {
  font-size: 18pt;
  margin-left: 28px;
  margin-top: 30pt;
  padding: 17pt 43pt;
  border-radius: 10pt;
  color: #645CBB;
  background-color: #EBC7E6;
  border-width: 0;
}

  .guess__form--replay-btn:hover {
    background-color: #d5a7cf;
  }

@media screen and (max-width: 480px) {
  /* For mobile phones: */
  .guess {
    padding: 0 40pt;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .guess__form input[type=number] {
    width: 97%;
  }

  .guess__toolbar {
      display: flex;
  }

  .guess__toolbar--menu-heading {
      font-size: 19pt;
  }

  .guess__toolbar--menu-icon {
    color: #FFFFFF;

  }

}

