<div class="block">

  <h2 *ngIf="isPlaying" class="heading">Guess a number between 1 and 20. You've got 5 tries.</h2>

  <form *ngIf="isPlaying" #userForm="ngForm" (ngSubmit)="onClickSubmitInput(username, beginResponse.id, guess.value); guessNum.value=''">

    <input name="guess"
           #guess="ngModel"
           class="input"
           type="number"
           min="1"
           max="20"
           placeholder="enter a number"
           ngModel
           required
           #guessNum />

    <h3 *ngIf="isPlaying" class="heading">{{message}}</h3>

    <app-button *ngIf="guessNum.value!=''"
                class="btn"
                text="Submit"
                type="button"
                color="#800080"></app-button>

    <app-button class="btn"
                text="Quit"
                type="button"
                color="#800080"
                (click)="onClickQuit()"></app-button>



    <app-button *ngIf="!beginResponse.playingGame"
                class="btn"
                text="Play Again"
                type="button"
                color="#800080"
                (click)="onClickPlayAgain()"></app-button>

  </form>

  <div *ngIf="!isPlaying">
    <app-button class="btn"
                text="Quit"
                type="button"
                color="#800080"
                (click)="onClickQuit()"></app-button>
  </div>

</div>
