
<div class="guess">

  <h4 class="guess__instruction">Guess a number between 1 and 20</h4>
  <p class="guess__attempt">{{message}}</p>

  <form class="guess__form"
        *ngIf="isPlaying"
        #userForm="ngForm"
        (ngSubmit)="onClickSubmitInput(username, beginResponse.id, guess.value, userForm)">

    <input type="number"
           placeholder="Enter a number"
           name="guess"
           #guess="ngModel"
           min="1"
           max="20"
           ngModel
           required><br />

    <button class="guess__form--submit-btn" type="submit">
      Submit
    </button>
    <button class="guess__form--quit-btn"
            (click)="onClickQuit()">Quit
    </button>
  </form>

  <button class="guess__form--quit-btn"
          *ngIf="!isPlaying"
          (click)="onClickQuit()">Quit
  </button>
</div>
