
<div class="container">

  <div class="register">
    <img src="assets/images/icon.svg" alt="" class="register__icon">
    <p class="register__text">User Registration</p>
    <form class="register__form" #userForm="ngForm" (ngSubmit)="onSubmit(username.value)">
      <label for="username">Username</label><br>
      <input type="text"
             placeholder="Enter new username..."
             name="username"
             required
             #username="ngModel"
             ngModel />
      <h4 class="subheading" *ngIf="existingUser" color="#800000">This username already exists, please enter more uniqe name.</h4>
      <button class="register__register-btn">
        Register
      </button>
    </form>
    <button class="login__back-btn"
            (click)="onClickBack()"
            [routerLink]="['home']">
      Back
    </button>
  </div>

</div>



