.input {
  min-width: 150px;
  max-width: 0px;
  min-height: 40px;
  text-align: center;
}

input[type=text] {
  display: block;
  border: 2px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

input[type=submit] {
  background-color: #800080;
  color: #dd88ee;
  padding: 10px 20px;
  padding: 15px 40px;
  border-radius: 5px;
  border: 0 none;
  margin: 10px 137px;
  justify-content: center;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
}

.container {
  padding: 250px;
}
