
<div class="history">
  <p class="history__message">{{responses.message}}</p>

  <table *ngIf="!responses.historyCleared && responses.games != null" class="table" border="1">
    <tr>
      <td>Random Number</td>
      <td>Number of Tries</td>
      <td>Game Status</td>
    </tr>
    <tr *ngFor="let item of responses.games">
      <td>{{item.randomNumber}}</td>
      <td>{{item.numberOfTries}}</td>
      <td>{{item.gameStatus}}</td>

    </tr>
  </table>

  <div class="history__button">
    <button class="history__button--menu"
            (click)="onClickBacktoMenu()"
            [routerLink]="['menu']">Menu</button>
    <button class="history__button--history"
            mat-button (click)="onClickDeleteHistory()">Delete History</button>
  </div>
</div>
