.input {
  min-width: 150px;
  max-width: 0px;
  min-height: 40px
}

.full-width {
  width: 100%;
}

input[type=text] {
  border: 2px;
  border-radius: 5px;
  margin: 0px 610px;
}

.button {
  display: flex;
  color: #dd88ee;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  justify-content: center;
  padding: 15px 40px;
}

input[type=submit] {
  background-color: #800080;
  color: #dd88ee;
  padding: 10px 20px;
  padding: 15px 40px;
  border-radius: 5px;
  border: 0 none;
  margin: 10px 145px;
  justify-content: center;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
}
