
  <div class="container">

    <div class="register">
      <img src="assets/images/icon.svg" alt="" class="login__icon">
      <p class="login__text">User Login</p>
      <form class="login__form" #userForm="ngForm" (ngSubmit)="onSubmit(username.value)">
        <label for="username">Username</label><br>
        <input type="text"
               placeholder="Enter your username..."
               name="username"
               required
               #username="ngModel"
               ngModel />
        <h4 class="subheading" *ngIf="!existingUser" color="#800000">This username does not exist, please register.</h4>
        <button class="login__login-btn">
          Login
        </button><br />

      </form>
      <button class="login__back-btn"
              (click)="onClickBack()">
        Back
      </button>
    </div>

  </div>

