.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50pt;
}

.login {
  padding: 0 50pt;
}

.login__icon {
  max-width: 70%;
}

.login__text {
  font-size: 45pt;
  font-weight: 500;
  color: #FFF;
  margin: 35pt 0 45pt 0;
}

.login__form label {
  font-size: 14pt;
  color: #FFF;
  font-weight: 300;
}

.login__form input[type=text] {
  width: 96%;
  padding: 20pt 0 20pt 10pt;
  border-radius: 6pt;
  border-width: 0;
  font-size: 18pt;
  margin-bottom: 30pt;
}

.login__login-btn {
  font-size: 18pt;
  margin-right: 30px;
  padding: 17pt 43pt;
  border-radius: 10pt;
  color: #645CBB;
  background-color: #EBC7E6;
  border-width: 0;
}

  .login__login-btn:hover {
    background-color: #d5a7cf;
  }

@media screen and (max-width: 480px) {
  .login {
    padding: 0 50pt;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login__form input[type=text] {
    width: 97%;
  }

  .login__login-btn {
    width: 100%;
  }
}
