.dialog__title {
  color: #645CBB;
}

.dialog__content {
  color: #645CBB;
  font-weight: 500;
}

.dialog__button {
  padding-left: 230pt;
}

.dialog {
  background-color: #FFFFFF;
  
}

.dialog__button--close {
  font-size: 12pt;
  padding: 14px 13px;
  margin-right: 20pt;
  color: #645CBB;
  background-color: #EBC7E6;
  border-width: 0;

}

.dialog__button--close:hover {
  background-color: #d5a7cf;
}
